.b-right-slide-panel

  //data-action="mouseMove || pageLoad"
  #rightSlidePanel.b-right-slide-panel-bar( data-time="3000" data-close-time="1000" data-action="mouseMove" )
  
    .b-right-slide-panel__transform
      .b-right-slide-panel-bg( style="background-image: url( '/template/images/right-slide-panel-bg.jpg' );" )
        .b-right-slide-panel-shutter
      
    .b-right-slide-panel__content
    
      .b-right-slide-panel__content-item
    
        .b-right-slide-panel-close
        
        .b-right-slide-panel__title Лучше увидеть самому
        
        p Закажите клиентский тур и свои глазами оцените возможности жилого комплекса «Вишневый сад».<br>Закажите бесплатный звонок и мы свяжемся с вами в течение минуты.
        
        .b-right-slide-panel-button
          button.i-theme-d Заказать звонок
        
        a.b-right-slide-panel-link( href="#" ) Спасибо, чуть позже