doctype html
head
  title Presentation | Buro77
  meta(charset='utf-8')
  meta(name='keywords', content='')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='styles.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  
body

  //-img( src="images/line.gif" width="1200" height="100" )
  
  //-section#page1
    .b-bg
      img( src="images/bg1.jpg" alt="" )
    .b-belt
      .b-belt__logo
        img( src="images/logo.png" )
      .b-belt__slogan Элитная<br>недвижимость
      b.b-belt__id ID 286
      b.b-belt__address Партизанская 35, к.3
      
  section.b-page
    
    .b-page__head
      .b-page__logo
        .b-page__img
          img( src="images/logo-black.png" alt="" )
        //-.b-page__slogan Элитная недвижимость<br>8 495 215 16 55<br>www.buro77.ru
      
      .b-page__contacts +74951182211 / www.buro77.ru
      
      .b-page__address
        b Дом на Покровском бульваре
        br
        | Москва, Казарменный переулок, дом 3 / SF1177
      
    .b-page__body
    
      .b-page__body__ill
        
        img( src="images/ill1.jpg" alt="" width="1022" height="628" )
          
  section.b-page
  
    .b-page__row
  
      .b-page__left-images
        img( src="images/ill1.jpg" alt="" width="511" height="338" )
        img( src="images/ill1.jpg" alt="" width="511" height="338" )
        
      .b-page__right-text
      
        .b-page__head
          .b-page__logo
            .b-page__img
              img( src="images/logo-black.png" alt="" )
          
          .b-page__address +74951182211 / www.buro77.ru
          
        h2 Квартира площадью 76,86 м² в NV/9 ART KVARTAL
        
        .b-page__props1
          .b-page__props1__item
            img( src="images/props1/1.png"  alt="" )
            .b-page__props1__text Б. Николоворобинский пер., д. 9
          .b-page__props1__item
            img( src="images/props1/1.png"  alt="" )
            .b-page__props1__text Полянка, Третьяковская, Новокузнецкая	
          .b-page__props1__item
            img( src="images/props1/1.png"  alt="" )
            .b-page__props1__text 7 322 325 руб. (170 000 руб./ за м²)
        
        .b-page__row
          
          .b-page__left-props.b-page__props2
          
            .b-page__props2__item
              img( src="images/props2/1.png"  alt="" )
              .b-page__props2__text
                h6 Площадь
                b 600,37 м²
                
            .b-page__props2__item
              img( src="images/props2/2.png"  alt="" )
              .b-page__props2__text
                h6 Этаж (всего этажей)
                span
                  b 3
                  | 
                  |(35)
                  
            .b-page__props2__item
              img( src="images/props2/3.png"  alt="" )
              .b-page__props2__text
                h6 Паркинг
                b Подземный с охраной
                
            .b-page__props2__item
              img( src="images/props2/1.png"  alt="" )
              .b-page__props2__text
                h6 Готовность
                b 100%
              
          .b-page__right-props.b-page__props2
          
            .b-page__props2__item
              img( src="images/props2/4.png"  alt="" )
              .b-page__props2__text
                h6 Комнат
                b 4
                
            .b-page__props2__item
              img( src="images/props2/1.png"  alt="" )
              .b-page__props2__text
                h6 Отделка
                b Без отделки
                  
            .b-page__props2__item
              img( src="images/props2/1.png"  alt="" )
              .b-page__props2__text
                h6 Паркинг
                span
                  b 3
                  | 
                  |(35)    
      
        .b-page__head.i-footer
          .b-page__logo SF717 
          .b-page__address NV|9 Art Kvartal

               
          
  section.b-page
      
    .b-page__ills
    
      .b-page__ills__item
        img( src="images/1.png" width="511" height="334" )
        img( src="images/2.png" width="511" height="334" )
        
      .b-page__ills__sep +74951182211 / www.buro77.ru
        
      .b-page__ills__item
        img( src="images/2.png" width="511" height="334" )
        img( src="images/1.png" width="511" height="334" )
          
  //-section.b-page
      .b-page__head
        .b-page__logo
          .b-page__img
            img( src="images/logo-black.png" alt="" )
          .b-page__slogan Элитная недвижимость<br>8 495 215 16 55<br>www.buro77.ru
        
        .b-page__address ID 286<br>Партизанская 35, к. 3
        
      .b-page__body
        
        img.b-ill( src="images/ill3.jpg" )
          
  section.b-page
  
    .b-page__row
  
      .b-page__left-images
        img( src="images/3.png" alt="" )
        
      .b-page__right-text
      
        .b-page__head
          .b-page__logo
            .b-page__img
              img( src="images/logo-black.png" alt="" )
          
          .b-page__address +74951182211 / www.buro77.ru
          
        h2 Квартира площадью 76,86 м² в NV/9 ART KVARTAL
        
        p Здесь хорошо жить, работать, учиться и отдыхать. На карте культурной жизни современной Москвы этот район — один из самых заметных. В пешей доступности от вашего дома располагается «Винзавод» — актуальное выставочное пространство и крупнейшее в столице средоточие галерей современного искусства. Немного времени займёт прогулка до «Гоголь- центра» — современного театра с лекторием, кинозалом, выставочным пространством, концертной площадкой и интересной программой мероприяти.
      
        .b-page__head.i-footer
          .b-page__logo SF717 
          .b-page__address NV|9 Art Kvartal
          
  section.b-page
    img( src="images/3.png" width="1028" height="700")
          