
<!-- start /components/catalog.gallery/-->
<link rel="stylesheet" href="/components/catalog.gallery/slideme.css"/>
<link rel="stylesheet" href="/components/catalog.gallery/style.css"/>
<script src="/components/catalog.gallery/slideme2.js"></script>
<script src="/components/catalog.gallery/script.js"></script>
<div id="gallery">
  <ul class="slideme">
    <li><img src="/upload/gallery/1.jpg"/></li>
    <li><img src="/upload/gallery/2.jpg"/></li>
    <li><img src="/upload/gallery/3.jpg"/></li>
    <li><img src="/upload/gallery/4.jpg"/></li>
    <li><img src="/upload/gallery/5.jpg"/></li>
    <li><img src="/upload/gallery/6.jpg"/></li>
    <li><img src="/upload/gallery/7.jpg"/></li>
    <li><img src="/upload/gallery/8.jpg"/></li>
    <li><img src="/upload/gallery/9.jpg"/></li>
  </ul>
</div>
<!-- end /components/catalog.gallery/-->