.slideme li {
  margin: 0;
  padding: 0;
}
.slideme img {
  width: 100% !important;
}
.slideme_container button {
  display: none;
}
.slideme_container .pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.slideme_container .pagination ol {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0;
}
.slideme_container .pagination li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  text-indent: -100px;
  overflow: hidden;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #ccc;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15) inset;
  margin: 0 3px;
  cursor: pointer;
}
.slideme_container .pagination li.current {
  background: #fff;
}
.slideme_container ul {
  padding-top: 65%;
  height: 0 !important;
}
.b-estate .fotorama__nav-wrap {
  display: none;
}
.b-estate .b-estate__plan .fotorama__nav-wrap {
  display: block;
}
.fotorama .fotorama__arr {
  width: 53px;
  height: 53px;
  background-size: cover;
}
.fotorama .fotorama__arr--next {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfOF/QutC+0L/QuNGPXyIgZGF0YS1uYW1lPSLQodC70L7QuSA4ICjQutC+0L/QuNGPKSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQ1MS4zNCAxNDUxLjM0Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzY5NGU5YztzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NjBweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnJpZ2h0LWFycm93PC90aXRsZT48cG9seWxpbmUgY2xhc3M9ImNscy0xIiBwb2ludHM9Ijg3MS41MyA2OSAxMzgyLjc4IDcyNy45OSA4NzEuNTMgMTM4Ni45OCIvPjwvc3ZnPg==") no-repeat center;
  right: 15px;
  mix-blend-mode: difference;
}
.fotorama .fotorama__arr--prev {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfOF/QutC+0L/QuNGPXyIgZGF0YS1uYW1lPSLQodC70L7QuSA4ICjQutC+0L/QuNGPKSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQ1MS4zNCAxNDUxLjM0Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzY5NGU5YztzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NjBweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmxlZnQtYXJyb3c8L3RpdGxlPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iNTcxLjI1IDY5IDYwIDcyNy45OSA1NzEuMjUgMTM4Ni45OCIvPjwvc3ZnPg==") no-repeat center;
  left: 15px;
  mix-blend-mode: difference;
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMTAiIGRhdGEtbmFtZT0i0KHQu9C+0LkgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE0NTEuMzQgMTQ1MS4zNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM2OTRlOWM7c3Ryb2tlOiM2OTRlOWM7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjYwcHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jbG9zZTwvdGl0bGU+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iNTEuNzUiIHkxPSI1NyIgeDI9IjEzOTYuNSIgeTI9IjE0MDEuNzUiLz48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSI1MS43NSIgeTE9IjE0MDEuNzUiIHgyPSIxMzk2LjUiIHkyPSI1NyIvPjwvc3ZnPg==") no-repeat center !important;
  background-size: cover;
  top: 32px;
  right: 32px;
  mix-blend-mode: difference;
}
.fotorama__fullscreen-icon {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMTIiIGRhdGEtbmFtZT0i0KHQu9C+0LkgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE0NTEuMzQgMTQ1MS4zNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiM2OTRlOWM7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjYwcHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT56b29tPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjU1OS40NCIgY3k9IjU1My40NiIgcj0iNDc4LjciIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjcuNSA1NTcuNjkpIHJvdGF0ZSgtNDUpIi8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTM0NC45OSIgeTE9IjEzNDkuMDEiIHgyPSI4ODcuOTMiIHkyPSI4OTEuOTUiLz48L3N2Zz4=") no-repeat center !important;
  mix-blend-mode: difference;
  top: 32px;
  right: 32px;
}
.b-catalog-gallery__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 66.67%;
}
