.slideme li {
  margin: 0;
  padding: 0;
}
.slideme img {
  width: 100% !important;
}
.slideme_container button {
  display: none;
}
.slideme_container .pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.slideme_container .pagination ol {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0;
}
.slideme_container .pagination li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  text-indent: -100px;
  overflow: hidden;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #ccc;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15) inset;
  margin: 0 3px;
  cursor: pointer;
}
.slideme_container .pagination li.current {
  background: #fff;
}
.slideme_container ul {
  padding-top: 65%;
  height: 0 !important;
}
.b-estate .fotorama__nav-wrap {
  display: none;
}
.b-estate .b-estate__plan .fotorama__nav-wrap {
  display: block;
}
.fotorama .fotorama__arr {
  width: 64px;
  height: 64px;
  background-size: cover;
}
.fotorama .fotorama__arr--next {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfM1/QutC+0L/QuNGPXyIgZGF0YS1uYW1lPSLQodC70L7QuSAzICjQutC+0L/QuNGPKSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTgxLjQyIDE4MS40MiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM0MTQwNDI7b3BhY2l0eTowLjU7fS5jbHMtMntmaWxsOm5vbmU7c3Ryb2tlOiNlNmU3ZTg7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjVweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93LXJpZ2h0PC90aXRsZT48cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSIxODEuNDIiIGhlaWdodD0iMTgxLjQyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxODEuNDIgMTgxLjQyKSByb3RhdGUoMTgwKSIvPjxwb2x5bGluZSBjbGFzcz0iY2xzLTIiIHBvaW50cz0iNzEuMiA0My42OCAxMTguMjIgOTAuNzEgNzEuMiAxMzcuNzQiLz48L3N2Zz4=") no-repeat center;
  right: 15px;
}
@media (max-width: 767px) {
  .fotorama .fotorama__arr--next {
    display: none !important;
  }
}
.fotorama .fotorama__arr--prev {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMyIgZGF0YS1uYW1lPSLQodC70L7QuSAzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODEuNDIgMTgxLjQyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzQxNDA0MjtvcGFjaXR5OjAuNTt9LmNscy0ye2ZpbGw6bm9uZTtzdHJva2U6I2U2ZTdlODtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+YXJyb3ctbGVmdDwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iMTgxLjQyIiBoZWlnaHQ9IjE4MS40MiIvPjxwb2x5bGluZSBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMTEwLjIyIDQzLjY4IDYzLjIgOTAuNzEgMTEwLjIyIDEzNy43NCIvPjwvc3ZnPg==") no-repeat center;
  left: 15px;
}
@media (max-width: 767px) {
  .fotorama .fotorama__arr--prev {
    display: none !important;
  }
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfM1/QutC+0L/QuNGPM18iIGRhdGEtbmFtZT0i0KHQu9C+0LkgMyAo0LrQvtC/0LjRjzMpIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODEuNDIgMTgxLjQyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzQxNDA0MjtvcGFjaXR5OjAuNTt9LmNscy0ye2ZpbGw6bm9uZTtzdHJva2U6I2U2ZTdlODtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+Y2xvc2U8L3RpdGxlPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjE4MS40MiIgaGVpZ2h0PSIxODEuNDIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4MS40MiAxODEuNDIpIHJvdGF0ZSgxODApIi8+PGxpbmUgY2xhc3M9ImNscy0yIiB4MT0iMTM5LjM0IiB5MT0iMTM5LjA3IiB4Mj0iNDIuMDgiIHkyPSI0MS44MSIvPjxsaW5lIGNsYXNzPSJjbHMtMiIgeDE9IjQyLjA4IiB5MT0iMTM5LjA3IiB4Mj0iMTM5LjM0IiB5Mj0iNDEuODEiLz48L3N2Zz4=") no-repeat center !important;
  background-size: cover;
  top: 15px;
  right: 15px;
}
.fotorama__fullscreen-icon {
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfM1/QutC+0L/QuNGPMl8iIGRhdGEtbmFtZT0i0KHQu9C+0LkgMyAo0LrQvtC/0LjRjzIpIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODEuNDIgMTgxLjQyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzQxNDA0MjtvcGFjaXR5OjAuNTt9LmNscy0ye2ZpbGw6bm9uZTtzdHJva2U6I2U2ZTdlODtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+em9vbTwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iMTgxLjQyIiBoZWlnaHQ9IjE4MS40MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgxLjQyIDE4MS40Mikgcm90YXRlKDE4MCkiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMiIgY3g9Ijc4LjE2IiBjeT0iNzguMTYiIHI9IjMyLjYzIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzIuMzggNzguMTYpIHJvdGF0ZSgtNDUpIi8+PGxpbmUgY2xhc3M9ImNscy0yIiB4MT0iMTM1Ljg4IiB5MT0iMTM1Ljg4IiB4Mj0iMTAxLjIzIiB5Mj0iMTAxLjIzIi8+PC9zdmc+") no-repeat center !important;
  top: 15px;
  right: 15px;
  width: 64px;
  height: 64px;
}
@media (max-width: 767px) {
  .fotorama__fullscreen-icon {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
  }
}
.b-catalog-gallery__img {
  height: 100%;
}
.b-catalog-gallery__img div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .fotorama__stage {
    width: calc(100% + 40px) !important;
    height: 400px;
  }
  .fotorama__wrap {
    max-width: none;
  }
  .fotorama {
    margin: 0 -20px;
  }
}
