// start /components/search-title/

link( rel="stylesheet", href="/components/search-title/style.css" )
script( src="/components/search-title/script.js" )

.title-search-result(style='position: absolute; top: 292px; left: 250px; width: 1060px;')
  table.title-search-result
    tbody
      tr
        th.title-search-separator(style='width: 122px;')  
        td.title-search-separator  
      tr#row_1
        th  Справочник
        td.title-search-item
          a(href='/help/fefco/22478/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | 06 - Rigid-type boxes - 
            b короб
            | ки жесткого типа
      tr#row_2
        th  
        td.title-search-item
          a(href='/help/fefco/22470/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | 04 - Folder-type boxes - 
            b короб
            | ки оберточного типа и складные (штампованные) ящики, 
            b короб
            | ки с крышкой и дном
      tr#row_3
        th  
        td.title-search-item
          a(href='/help/fefco/22465/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | 03 - Telescope-type boxes - 
            b короб
            | ки телескопического типа или конструкции
      tr#row_4
        th  
        td.title-search-item
          a(href='/help/fefco/22474/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | 05 - Slide-type boxes - раздвижные 
            b короб
            | ки пенального типа и сборные ящики
      tr#row_5
        th  
        td.title-search-item
          a(href='/help/fefco/22487/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | 07 - Ready-glued - готовые клеенные 
            b короб
            | ки
      tr#row_6
        th  
        td.title-search-more
          a(href='/search/?q=%D0%BA%D0%BE%D1%80%D0%BE%D0%B1&f%5B0%5D%5B0%5D%5B%3DMODULE_ID%5D=iblock&f%5B0%5D%5B0%5D%5BPARAM1%5D=projects&f%5B0%5D%5B0%5D%5BPARAM2%5D%5B0%5D=53&f%5B0%5D%5B0%5D%5BPARAM2%5D%5B1%5D=57&f%5B0%5D%5B0%5D%5BPARAM2%5D%5B2%5D=87&f%5B0%5D%5BLOGIC%5D=OR&f%5BCHECK_DATES%5D=Y') остальные
      tr
        th.title-search-separator  
        td.title-search-separator  
      tr#row_8
        th  Прочее
        td.title-search-item
          a(href='/production/portfolio/print/korobka-s-pechatyu-kvest-v-korobke/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            b Короб
            | ка с печатью "Квест в 
            b короб
            | ке"
      tr#row_9
        th  
        td.title-search-item
          a(href='/help/video/5289/23818/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | Самосборный 
            b короб
            |  "самолет", как собрать 
            b короб
            | ку из заготовки
      tr#row_10
        th  
        td.title-search-item
          a(href='/wiki/494799/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            | Самосборный 
            b короб
            |  "самолет", как собрать 
            b короб
            | ку из заготовки
      tr#row_11
        th  
        td.title-search-item
          a(href='/catalog/korob-evropallet/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            b Короб
            |  европаллет 1200 (Д) х 800 (Ш) х 850 (В) гофрокартон пятислойный бурый
      tr#row_12
        th  
        td.title-search-item
          a(href='/production/construction/fefco/korobki-zhestkogo-tipa/korob-zhestkogo-tipa-s-otkidnoy-kryshkoy/')
            img(src='/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png')
            b Короб
            |  жесткого типа с откидной крышкой
      tr
        th.title-search-separator  
        td.title-search-separator  
      tr#row_14
        th  
        td.title-search-all
          a(href='/search/?q=%D0%BA%D0%BE%D1%80%D0%BE%D0%B1') Все результаты
      tr
        th.title-search-separator  
        td.title-search-separator  
  .title-search-fader(style='left: 1042px; width: 18px; top: 0px; height: 370px; display: block;')

// end /components/search-title/