.b-footer
  background-color #383838
  color #ccc
  border none
  padding 10px 50px 35px
  box-sizing( border-box )
  min-height 90px
  font-size 9pt
  line-height 1.7
  
  &:after
    content ''
    display block
    clear both
  
  a
    color #fff
    
  &-nav
    text-transform uppercase
    opacity 0
    transition( opacity .5s ease )
    
    .i-animate &
      opacity 1
    
    a,
    span
      display inline-block
      margin-right 14px
      margin-bottom 15px
    
      @media ( max-width $breakpoint-mobile )
        margin 0 7px 15px
      
  hr.i-line
    border-top 1px solid #484848
    margin 25px 0
    opacity 0
    transition( opacity .5s ease )
    
  &.i-animate hr.i-line:nth-of-type(1)
    opacity 1
    
  &.i-animate hr.i-line:nth-of-type(2)
    opacity 1
    transition-delay .1s
    
  &.i-animate hr.i-line:nth-of-type(3)
    opacity 1
    transition-delay .2s
    
  &.i-animate hr.i-line:nth-of-type(4)
    opacity 1
    transition-delay .3s
    
  h5
    font-size 9pt
    margin 0 0 16px
    
  &-topics
    opacity 0
    transition( opacity .5s ease .1s )
    
    .i-animate &
      opacity 1
    
    &-links
    
      a,
      span
        display inline-block
        margin-right 19px
        margin-bottom 15px
    
        @media ( max-width $breakpoint-mobile )
          margin 0 10px 15px
          
  .b-row
    opacity 0
    transition( opacity .5s ease )
    
    &:nth-of-type(2)
      transition-delay .2s
    
    &:nth-of-type(3)
      transition-delay .3s
    
  &.i-animate .b-row
    opacity 1
          
  i
    font-style normal
    color #fff
      
  &-phone
    display flex
    align-items center
    
    @media ( max-width $breakpoint-mobile )
      justify-content center
    
    &-icon
      width 16px
      height 16px
      background url('/template/images/icons/phone-receiver.svg') no-repeat center
      background-size cover
      margin-right 18px
      
  &-letter
    display flex
    align-items center
    margin-top 25px
    
    @media ( max-width $breakpoint-mobile )
      justify-content center
    
    &-icon
      width 16px
      height 16px
      background url('/template/images/icons/message-closed-envelope.svg') no-repeat center
      background-size cover
      margin-right 18px
    
  &-social
    margin-top 25px
    
    @media ( max-width $breakpoint-mobile )
      text-align center
    
    a
      display inline-block
      width 16px
      height 16px
      background-size cover
      margin-right 15px
      margin-bottom 5px
      background-repeat no-repeat
      background-position center
      
      &:hover
        opacity 0.7
    
      @media ( max-width $breakpoint-mobile )
        margin 0 8px 5px
      
  &-clients
    display flex
    align-items center
    flex-wrap wrap
    margin-top 90px
    opacity 0
    transition( opacity .5s ease .4s )
    
    .i-animate &
      opacity 1
    
    @media ( max-width $breakpoint-mobile )
      justify-content center
    
    img
      margin-right 50px
      margin-bottom 20px
    
      @media ( max-width $breakpoint-mobile )
        margin 0 25px 20px
    
    
  
  /*.b-block-b.i-reverse &
    padding-left 50px*/
  
  .b-col-sm-6:nth-child(2)
    text-align right
    
  a.b-logo__title
    margin-bottom 14px
    display inline-block
    vertical-align top
    font-size 18pt
    text-transform uppercase
    margin-right 42px
    line-height 55px
  
    &,
    &:hover,
    &:active
      color #fff
      
  .b-phone
    background embedurl( 'img/phone-footer.png' ) no-repeat 0 center
    color #fff !important
    float none
    text-align right
    ib()
    line-height 55px
    font-size 13.5pt
    font-weight 700
    padding-left 39px
    width auto
  
  @media ( max-width $breakpoint-tablet )
    .b-logo__title
      margin-top 20px
      
    .b-col-sm-6:nth-child(2)
      text-align left
      
    .b-phone
      margin-bottom 0
  
  @media ( max-width $breakpoint-mobile )
    padding 10px 20px
    min-height 0
    text-align center
    
    .b-phone
      margin 0
      
    .b-col-sm-6:nth-child(2)
      text-align center
    
    &__slogan,
    &__address,
    a.b-logo__title
      display none
      
  &__copy
    margin-top 34px
    opacity 0
    transition( opacity .5s ease .5s )
    
    .i-animate &
      opacity 1

#bx-composite-banner
  position relative
  
  @media ( max-width $breakpoint-tablet )
    text-align center
  
  @media ( max-width $breakpoint-mobile )
    text-align center
    margin 20px 0 40px
  
.bx-composite-btn
  position absolute !important
  top auto !important
  bottom -8px !important
  right 0 !important
  
  @media ( max-width $breakpoint-mobile )
    position static !important