.b-header
  background-color $header-bg
  color #333
  border none
  padding 20px 50px
  box-sizing( content-box )
  min-height 81px
  box-sizing border-box

  &__fixed
    background-color $header-bg
    padding 20px 50px
    min-height 81px
    box-sizing border-box
    position fixed
    top 0
    left 127px
    width calc(100% - 220px - 127px)
    z-index 106
    
    @media( max-width 980px )
      width calc(100% - 127px)
    
    @media( max-width $breakpoint-mobile )
      position static
      width auto
      padding 0
  
  a
    
    &,
    &:hover,
    &:active
      color #333
  
  @media ( max-width $breakpoint-mobile)
    margin-top 45px
    padding 35px 20px !important
    min-height 0
    max-height inherit
    text-align center
    
  &:after
    content ''
    clear both
    display table
    
.b-phone
  float right
  line-height 42px
  text-align right
  font-size 9pt
  font-weight 700
  color #333 !important
  width 20%
    
  @media ( max-width 767px )
    display none
    
a.b-estate-logo
  display block
  float left
  margin -5px 0 0 0
  width 15%
  
  @media ( max-width 767px )
    width 25%
  
  @media ( max-width $breakpoint-mobile )
    margin 0 0 20px
    float none
    width auto !important
    
.b-top-menu
  float left
  width 65%
  min-height 42px
  display flex
  justify-content flex-start
  align-items center
  flex-wrap wrap
  
  a,
  span
    text-transform uppercase
    font-size 9pt
    font-weight bold
    margin-right 24px
    display inline-block
    vertical-align middle
    
    @media ( max-width $breakpoint-mobile )
      margin-right 5px
      margin-left 5px
      display block
  
  @media ( max-width 767px )
    width 75%
    
  @media ( max-width $breakpoint-mobile )
    float none
    line-height 20px
    width auto
    justify-content center
