.b-header
  background-color $header-bg
  color #333
  border none
  padding 20px 50px 5px 177px
  box-sizing( content-box )
  min-height 42px
  
  .b-block-b.i-reverse &
    padding-left 50px
  
  a
    
    &,
    &:hover,
    &:active
      color #333
  
  @media ( max-width $breakpoint-mobile)
    margin-top 45px
    padding 35px 20px !important
    min-height 0
    text-align center
    
  &:after
    content ''
    clear both
    display table
    
.b-phone
  float right
  line-height 42px
  text-align right
  font-size 9pt
  font-weight 700
  color #e5241f !important
  width 20%
    
  @media ( max-width 767px )
    display none
    
a.b-estate-logo
  display block
  float left
  margin -5px 0 0 0
  width 15%
  
  @media ( max-width 767px )
    width 25%
  
  @media ( max-width $breakpoint-mobile )
    margin 0 0 20px
    float none
    width auto
    
.b-top-menu
  float left
  width 65%
  min-height 42px
  display flex
  justify-content flex-start
  align-items center
  flex-wrap wrap
  
  a,
  span
    text-transform uppercase
    font-size 9pt
    font-weight bold
    margin-right 24px
    display inline-block
    vertical-align middle
  
  @media ( max-width 767px )
    width 75%
    
  @media ( max-width $breakpoint-mobile )
    float none
    line-height 20px
    width auto
    justify-content center
