.b-header
  background-color $header-bg
  color #333
  border none
  padding 15px 50px 16px
  box-sizing( content-box )
  min-height 81px
  box-sizing border-box
  display flex
  justify-content space-between
    
  @media( max-width $breakpoint-mobile )
    width auto
    display block
  
  .b-block-b &
    max-width 1024px

  &__fixed
    background-color $header-bg
    padding 15px 50px 16px
    min-height 81px
    box-sizing border-box
    position fixed
    top 0
    left 127px
    width calc(100% - 220px - 127px)
    z-index 106
  
    .b-block-b &
      width 1024px
    
      @media( max-width 1151px )
        width calc(100% - 127px)
        max-width none
    
      @media( max-width $breakpoint-mobile )
        width auto
        display block
    
    @media( max-width 980px )
      width calc(100% - 127px)
    
    @media( max-width $breakpoint-mobile )
      position static
      width auto
      padding 0
  
  a
    
    &,
    &:hover,
    &:active
      color #333
  
  @media ( max-width $breakpoint-mobile)
    margin-top 55px
    padding 25px 20px !important
    min-height 0
    max-height inherit
    text-align center
    
.b-phone
  float right
  max-width 15%
  line-height 42px
  text-align right
  font-size 9pt
  font-weight 700
  color #333 !important
  white-space nowrap
  margin-left 40px
    
  @media ( max-width 767px )
    display none
    margin-left 0
    
a.b-estate-logo
  display block
  margin 0 40px 0 0
  float left
  width calc(25% - 80px)
  height 42px
  background-repeat no-repeat
  background-position center
  background-size contain
    
  @media ( max-width $breakpoint-mobile )
    margin 0 0 30px
    float none
    width auto !important
    max-width inherit
    
  img
    width auto
    height 42px
  
    @media ( min-width $breakpoint-mobile+1 ) and ( max-width 831px )
      max-width 100px !important
      height auto !important
    
    
.b-top-menu
  float left
  max-width 60%
  min-height 42px
  display flex
  justify-content flex-start
  align-items center
  flex-wrap wrap
  
  a,
  span
    text-transform uppercase
    font-size 9pt
    font-weight bold
    margin-right 24px
    display inline-block
    vertical-align middle
    
    @media ( max-width $breakpoint-mobile )
      margin-right 5px
      margin-left 5px
      display block
  
  @media ( max-width 767px )
    width 75%
    
  @media ( max-width $breakpoint-mobile )
    float none
    line-height 20px
    width auto
    max-width inherit
    justify-content center
