.b-page-content.i-center

  .b-row
    .b-col-sm-6
      h2 Московская жилая недвижимость: ближе и комфортней, чем можно себе представить
    .b-col-sm-6
      p
        | Столичный рынок в текущем году ожидает один из важных скачков в сегменте недвижимости, поскольку готовятся к сдаче многие жилые комплексы. Постоянно ведется строительство новых объектов усилиями девелоперских компаний с положительной и надежной репутацией. По прогнозам аналитиков, уже к концу 2019 года цены на объекты жилого сегмента в новостройках, в частности, 
        nobr премиум-класса
        | , могут увеличиться на 10–15%, что говорит о том, что практично купить квартиру в первых кварталах.
    
  hr
  
  img.img-responsive( src="/upload/seo-ill1.jpg" )
  
  hr

  .b-row
    .b-col-sm-6
      h3 Выгодные и уникальные предложения от застройщиков
    .b-col-sm-6
      p
        | Современные новостройки в Москве не только выделяются удобным местом расположения, инфраструктурой и планировкой квартир, но и выгодными предложениями от застройщика. Некоторые варианты от застройщика представлены с отделкой — буквально заезжай и живи, только необходимо решить мебельный вопрос.
  
  hr

  .b-row
    .b-col-sm-6
      img.img-responsive( src="/upload/seo-ill2.jpg" )
    hr.visible-xs-block
    .b-col-sm-6
      img.img-responsive( src="/upload/seo-ill2.jpg" )
  
  hr
        
  .b-row
    .b-col-sm-6
      h3.b-h2 «Литературные» комплексы современного класса
    .b-col-sm-6
      p
        | Застройщик Vesper предлагает элитный квартиры «табула раса», чтобы реализовать в них дизайнерский ремонт. Особой популярностью пользуются комплексы «Булгаков» и «Набоков», «Чехов» и «Бунин», «St. Nicolas» с закрытыми и уютными двориками и замечательным видом из окна.
    
  hr
        
  .b-row
    .b-col-sm-6
      h3.b-h2 Жилье по доступной цене
    .b-col-sm-6
      p
        | Решая купить жилье от Лидер Инвест, можно найти варианты эконом и 
        nobr бизнес-класса
        |  из 9 проектов, которые уже сданные и 19, которые в стадии активного строительства.
    
  hr
        
  .b-row
    .b-col-sm-6
      h3.b-h2
        | Офисы, достойные 
        nobr
          | бизнес-мегаполиса
    .b-col-sm-6
      p
        | Тем клиентам, которые хотят приобрести квартиры от застройщика, предложения от O1 Properties станут наиболее интересными, если необходима офисная недвижимость.
    
  hr
        
  .b-row
    .b-col-sm-6
      h2 Уютное, модерновое и безопасное жилье
    .b-col-sm-6
      p
        | Новостройки от Barkly с основным акцентом на клубное жилье позволяют подобрать варианты для комфортной и безопасной жизни вместе с детьми в разных округах старой Москвы из 34 объектов, которые уже сданные и 31 объекта, который в активной стадии строительства. Комплекс Barkly Galery — один из лучших примеров за всю историю строительства, удовлетворяющий запросы клиентов от планировки апартаментов д ландшафтного дизайна.
