.b-estate-filter {
  text-transform: uppercase;
  background-color: #000;
/*&__button
    padding 0 0 24px
    text-align center
    display none
    
    .i-menu2 &,
    .i-menu3 &
      //display block
      
    .i-preloader &
      //display none
    
    button
      font-weight bold
      font-size 9pt
      color #fff
      text-transform uppercase
      text-align center
      width 30%*/
}
.b-estate-filter menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.b-estate-filter li {
  display: inline-block;
}
.b-estate-filter__menu1 {
  background-color: #1b1b1b;
  padding: 16px 0 12px;
  text-align: center;
  font-size: 8pt;
}
.b-estate-filter__menu1 li {
  width: 19.5%;
  text-align: center;
}
@media (max-width: $breakpoint-mobile) {
  .b-estate-filter__menu1 li {
    width: 33%;
  }
}
.b-estate-filter__menu1 a {
  color: $light-grey;
  padding: 15px 0 13px;
  width: 100%;
  font-weight: bold;
}
.b-estate-filter__menu1 a.i-active {
  color: #fff;
}
.b-estate-filter__menu1 a.i-spec {
  color: #c999fc;
  padding-left: 20px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ5JREFUeNpi/P//PwMxYJLlW14g5chEpGIjILUXiE8yEaE4D0gdB+I5eceFX7LgUSgIpOYDsT8QHwHi2SBxRmx+ACq2AlLLgVgOiH8DsQHQ9GsgORY0hYxAqhyIm5HkOmGKUWwAKhYDUouB2A3JjH9AXADE+4D4GlDjf7AGoGInoMBSIJbA4/+TQOzOBFTMB2T4APETIP6DQ/FaIHYF2vARxdNAzbpA6gIQw4IbZEAFUGEvTA16sLYjKX4OxOFAxYeRFTAhmQ5yljeUewiIjdAVwzUAFbMDqQlQsR4gdgYqfoHNMzAnlQKxKBAHARWux5dUWICmy0FDyQSo+DahtAWywRCInYCKvxGTcgECDADW9VsMNyIMXQAAAABJRU5ErkJggg==") no-repeat 0 center;
  width: auto;
}
.b-estate-filter__menu1 a span {
  color: $grey;
  margin-left: 4px;
}
.b-estate-filter__menu2 {
  background-color: #151515;
  padding: 12px 0 7px;
  text-align: center;
  font-size: 8pt;
  display: none;
}
.b-estate-filter__menu2 li {
  width: 30%;
  text-align: center;
  margin: 0 7px 5px;
}
.b-estate-filter__menu2 a {
  border: 1px solid $dark-grey;
  padding: 15px 0 13px;
  width: 100%;
  color: $light-grey;
  font-weight: bold;
}
.b-estate-filter__menu2 a:hover,
.b-estate-filter__menu2 a.i-active {
  border-color: #4aa477;
  color: #fff;
}
.b-estate-filter__menu2 a.i-active {
  cursor: default;
}
.b-estate-filter__menu3 {
  background-color: #0e0e0e;
  padding: 12px 0 7px;
  text-align: center;
  font-size: 8pt;
  display: none;
}
.b-estate-filter__menu3 li {
  width: 20%;
  text-align: center;
  margin: 0 7px 5px;
}
@media (max-width: $breakpoint-mobile) {
  .b-estate-filter__menu3 li {
    width: 33%;
  }
}
.b-estate-filter__menu3 a {
  border: 1px solid $dark-grey;
  padding: 15px 0 13px;
  width: 100%;
  color: $light-grey;
  font-weight: bold;
}
.b-estate-filter__menu3 a:hover,
.b-estate-filter__menu3 a.i-active {
  border-color: #4aa477;
  color: #fff;
}
.b-estate-filter__menu3 a.i-active {
  cursor: default;
}
.b-estate-filter__number {
  color: #fff;
  padding: 13px 0 24px;
  text-align: center;
  font-weight: bold;
  display: none;
}
.b-estate-filter__number button {
  font-weight: bold;
  font-size: 9pt;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 30%;
}
.i-preloader .b-estate-filter__number {
  background: url("/template/images/preloader-00.gif") no-repeat center center;
}
.i-preloader .b-estate-filter__number .b-estate-filter__num,
.i-preloader .b-estate-filter__number .b-estate-filter__text {
  visibility: hidden;
}
.i-preloader .b-estate-filter__number .b-estate-filter__button {
  height: 50px;
}
.i-preloader .b-estate-filter__number button {
  display: none;
}
.b-estate-filter__num {
  font-size: 18pt;
  line-height: 32px;
}
.b-estate-filter__text {
  font-size: 7pt;
  margin-bottom: 17px;
}
.b-estate-filter__preloader {
  background-color: #171717;
  text-align: center;
  padding: 15px 0;
  display: none;
}
.b-estate-filter__preloader img {
  vertical-align: top;
}
