.b-estate-filter {
  text-transform: uppercase;
  background-color: #000;
/*&__button
    padding 0 0 24px
    text-align center
    display none
    
    .i-menu2 &,
    .i-menu3 &
      //display block
      
    .i-preloader &
      //display none
    
    button
      font-weight bold
      font-size 9pt
      color #fff
      text-transform uppercase
      text-align center
      width 30%*/
}
.b-estate-filter menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.b-estate-filter li {
  display: inline-block;
}
.b-estate-filter__menu1 {
  background-color: #1b1b1b;
  padding: 16px 0 12px;
  text-align: center;
  font-size: 8pt;
}
.b-estate-filter__menu1 li {
  width: 19.5%;
  text-align: center;
}
@media (max-width: 575px) {
  .b-estate-filter__menu1 li {
    width: 33%;
  }
}
.b-estate-filter__menu1 a {
  color: #999;
  padding: 15px 0 13px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-weight: bold;
}
.b-estate-filter__menu1 a.i-active {
  color: #fff;
}
.b-estate-filter__menu1 a.i-spec {
  color: #c999fc;
  padding-left: 20px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ5JREFUeNpi/P//PwMxYJLlW14g5chEpGIjILUXiE8yEaE4D0gdB+I5eceFX7LgUSgIpOYDsT8QHwHi2SBxRmx+ACq2AlLLgVgOiH8DsQHQ9GsgORY0hYxAqhyIm5HkOmGKUWwAKhYDUouB2A3JjH9AXADE+4D4GlDjf7AGoGInoMBSIJbA4/+TQOzOBFTMB2T4APETIP6DQ/FaIHYF2vARxdNAzbpA6gIQw4IbZEAFUGEvTA16sLYjKX4OxOFAxYeRFTAhmQ5yljeUewiIjdAVwzUAFbMDqQlQsR4gdgYqfoHNMzAnlQKxKBAHARWux5dUWICmy0FDyQSo+DahtAWywRCInYCKvxGTcgECDADW9VsMNyIMXQAAAABJRU5ErkJggg==") no-repeat 0 center;
  width: auto;
}
.b-estate-filter__menu1 a span {
  color: #666;
  margin-left: 4px;
}
.b-estate-filter__menu2 {
  background-color: #151515;
  padding: 12px 0 7px;
  text-align: center;
  font-size: 8pt;
  display: none;
}
.b-estate-filter__menu2 li {
  width: 30%;
  text-align: center;
  margin: 0 7px 5px;
}
.b-estate-filter__menu2 a {
  border: 1px solid #262626;
  padding: 15px 0 13px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  color: #999;
  font-weight: bold;
}
.b-estate-filter__menu2 a:hover,
.b-estate-filter__menu2 a.i-active {
  border-color: #4aa477;
  color: #fff;
}
.b-estate-filter__menu2 a.i-active {
  cursor: default;
}
.b-estate-filter__menu3 {
  background-color: #0e0e0e;
  padding: 12px 0 7px;
  text-align: center;
  font-size: 8pt;
  display: none;
}
.b-estate-filter__menu3 li {
  width: 20%;
  text-align: center;
  margin: 0 7px 5px;
}
@media (max-width: 575px) {
  .b-estate-filter__menu3 li {
    width: 33%;
  }
}
.b-estate-filter__menu3 a {
  border: 1px solid #262626;
  padding: 15px 0 13px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  color: #999;
  font-weight: bold;
}
.b-estate-filter__menu3 a:hover,
.b-estate-filter__menu3 a.i-active {
  border-color: #4aa477;
  color: #fff;
}
.b-estate-filter__menu3 a.i-active {
  cursor: default;
}
.b-estate-filter__number {
  color: #fff;
  padding: 13px 0 24px;
  text-align: center;
  font-weight: bold;
  display: none;
}
.b-estate-filter__number button {
  font-weight: bold;
  font-size: 9pt;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 30%;
}
.i-preloader .b-estate-filter__number {
  background: url("/template/images/preloader-00.gif") no-repeat center center;
}
.i-preloader .b-estate-filter__number .b-estate-filter__num,
.i-preloader .b-estate-filter__number .b-estate-filter__text {
  visibility: hidden;
}
.i-preloader .b-estate-filter__number .b-estate-filter__button {
  height: 50px;
}
.i-preloader .b-estate-filter__number button {
  display: none;
}
.b-estate-filter__num {
  font-size: 18pt;
  line-height: 32px;
}
.b-estate-filter__text {
  font-size: 7pt;
  margin-bottom: 17px;
}
.b-estate-filter__preloader {
  background-color: #171717;
  text-align: center;
  padding: 15px 0;
  display: none;
}
.b-estate-filter__preloader img {
  vertical-align: top;
}
.b-estate-list {
  position: relative;
  overflow: hidden;
}
.b-estate-list:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.b-estate-list__img-div-bw,
.b-estate-list__img-div {
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.i-loaded .b-estate-list__img-div-bw,
.i-img-loaded:hover .b-estate-list__img-div {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.b-estate-list__empty {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 25%;
  z-index: 7;
}
@media (max-width: 800px) {
  .b-estate-list__empty {
    width: 400%;
    padding-top: 100%;
  }
}
@media (max-width: 1200px) and (min-width: 801px) {
  .b-estate-list__empty {
    width: 200%;
    padding-top: 50%;
  }
}
@media (max-width: 1600px) and (min-width: 1201px) {
  .b-estate-list__empty {
    width: 33.3%;
    width: 133.2%;
    padding-top: 33.3%;
  }
}
.b-estate-list__empty__cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-estate-list__empty__i {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #252525;
  position: relative;
}
.b-estate-list__empty__i:nth-child(even ) {
  background-color: #171717;
}
.b-estate-list__i {
  float: left;
  width: 50%;
  position: relative;
  background: url("/template/images/preloader-25.gif") no-repeat 55px 55px #252525;
  line-height: 1.3;
  overflow: hidden;
  z-index: 8;
}
.b-estate-list__i:hover,
.b-estate-list__i:active,
.b-estate-list__i:focus {
  color: #fff;
}
.b-estate-list__i:nth-child(even ) {
  background-color: #171717;
  background-image: url("/template/images/preloader-17.gif");
}
.b-estate-list__i__small-img,
.b-estate-list__i__small-img-bw {
  display: none;
}
.b-estate-list__i__img,
.b-estate-list__i__small-img,
.b-estate-list__i__big-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  z-index: 10;
}
.b-estate-list__i__img-bw,
.b-estate-list__i__small-img-bw,
.b-estate-list__i__big-img-bw {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
}
.b-estate-list__i__shutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAABCAYAAAA8YlcZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNqcj0EOACEIA1H8//t8DLLqwYQ0whIPk6bTA6EQUV8Mg0JHJOHk4iW5y8O98fODBqnQP/DW7SyLatJyHIPnINnpSEu4dvGR8/bsPfZ+mAIMAFJ4S9cphx5AAAAAAElFTkSuQmCC") repeat-y 0 0;
  background-size: 100%;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  z-index: 9;
}
.b-estate-list__i.i-loaded .b-estate-list__i__img-bw,
.b-estate-list__i.i-loaded .b-estate-list__i__shutter,
.b-estate-list__i.i-img-loaded:hover .b-estate-list__i__img {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.b-estate-list__i.i-loaded .b-estate-list__i__props {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.b-estate-list__i.i-loaded:hover .b-estate-list__i__props {
  transform: translate(100%);
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
.b-estate-list__i.i-loaded:hover .b-estate-list__i__info {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.b-estate-list__i__title {
  display: block;
  position: absolute;
  bottom: 8%;
  left: 0;
  width: 50%;
  text-align: left;
  font-size: 18pt;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
  line-height: 1.2;
  z-index: 11;
}
@media (max-width: 520px) {
  .b-estate-list__i__title {
    padding-left: 20px;
  }
}
.b-estate-list__i__hot {
  background: #ff4242;
  padding: 15px 30px 20px;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  font-size: 14px;
  top: 0;
  right: 0;
}
span.b-estate-list__i__hot-icon {
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 25px;
}
@media (min-width: 800px) and (max-width: 920px) {
  span.b-estate-list__i__hot-icon {
    margin-right: 20px;
  }
}
@media (min-width: 800px) and (max-width: 920px) {
  .b-estate-list__i__hot {
    width: 185px;
    padding: 10px 25px 15px;
  }
}
.b-estate-list__i__props {
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 30px 40px;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  height: 180px;
  width: 250px;
  z-index: 12;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  -ms-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0.3s;
  transform: translate(100%);
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  overflow: hidden;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
@media (min-width: 800px) and (max-width: 920px) {
  .b-estate-list__i__props {
    padding: 25px 20px 30px;
    width: 185px;
    font-size: 10px;
  }
}
.b-estate-list__i__props span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 8px;
  display: inline-block;
}
@media (min-width: 800px) and (max-width: 920px) {
  .b-estate-list__i__props span {
    font-size: 9px;
  }
}
.b-estate-list__i__info {
  display: block;
  height: 100%;
  width: 250px;
  padding: 30px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 12;
  font-size: 14px;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0.3s;
  transform: translate(100%);
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  overflow: hidden;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
@media (min-width: 800px) and (max-width: 1015px), (min-width: 1201px) and (max-width: 1450px), (min-width: 1601px) and (max-width: 1915px) {
  .b-estate-list__i__info {
    padding: 20px;
    width: 185px;
    font-size: 11px;
  }
}
.b-estate-list__i__info b {
  display: block;
  margin: 15px 0 5px;
}
.b-estate-list__i__info span {
  display: block;
  text-overflow: ellipsis;
}
span.b-estate-list__i__info-title {
  font-size: 18px;
  font-weight: bold;
}
span.b-estate-list__i__info-icons {
  margin-top: 30px;
  display: block;
  width: 100%;
}
div.b-estate-list__i__info-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 11px 6px;
  background: url("/template/images/icons/icons.png") no-repeat;
}
@media (min-width: 800px) and (max-width: 920px) {
  div.b-estate-list__i__info-icon {
    margin: 0 6px 6px;
  }
}
div.b-estate-list__i__info-icon:nth-child(4n) {
  margin-right: 0;
}
@media (min-width: 800px) and (max-width: 1015px), (min-width: 1201px) and (max-width: 1450px), (min-width: 1601px) and (max-width: 1915px) {
  div.b-estate-list__i__info-icon {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    margin: 0 2px 2px;
  }
}
span.b-estate-list__i__label {
  display: block;
  font-size: 11px;
  margin-top: 20px;
  position: relative;
  width: 100%;
  text-transform: lowercase;
}
@media (min-width: 800px) and (max-width: 920px) {
  span.b-estate-list__i__label {
    font-size: 8px;
  }
}
span.b-estate-list__i__count {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
@media (min-width: 800px) and (max-width: 920px) {
  span.b-estate-list__i__count {
    font-size: 13px;
  }
}
span.b-estate-list__i__folder-icon {
  position: absolute;
  right: 0;
  background: url("/template/images/icons/folder.png") no-repeat;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  margin: 0;
}
span.b-estate-list__i__price {
  display: block;
  margin-top: 14px;
  font-size: 13.5pt;
}
@media (min-width: 801px) {
  .b-estate-list__i.i-large-item {
    float: none;
    display: block;
    width: 100%;
    max-height: 525px;
    overflow: hidden;
  }
  .b-estate-list__i.i-large-item .b-estate-list__i__title {
    font-size: 36pt;
    bottom: 12%;
  }
  .b-estate-list__i.i-large-item .b-estate-list__i__props {
    font-size: 13.5pt;
    line-height: 1.45;
    bottom: 12%;
  }
  .b-estate-list__i.i-large-item .b-estate-list__i__price {
    font-size: 26pt;
    margin-top: 6px;
  }
}
@media (max-width: 800px) {
  .b-estate-list__i {
    width: 100%;
  }
  .b-estate-list__i__small-img,
  .b-estate-list__i__small-img-bw {
    display: block;
  }
  .b-estate-list__i__big-img,
  .b-estate-list__i__big-img-bw {
    display: none !important;
  }
}
@media (max-width: 1200px) and (min-width: 801px) {
  .b-estate-list__i {
    width: 50%;
  }
}
@media (max-width: 1600px) and (min-width: 1201px) {
  .b-estate-list__i {
    width: 33.3%;
  }
}
@media (min-width: 1601px) {
  .b-estate-list__i {
    width: 25%;
  }
}
.b-estate-list.i-empty {
  padding-top: 25%;
}
@media (max-width: 800px) {
  .b-estate-list.i-empty {
    padding-top: 100%;
  }
}
@media (max-width: 1200px) and (min-width: 801px) {
  .b-estate-list.i-empty {
    padding-top: 50%;
  }
}
@media (max-width: 1600px) and (min-width: 1201px) {
  .b-estate-list.i-empty {
    padding-top: 33.3%;
  }
}
.b-empty-link {
  border: 6px solid #666;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-empty-link:hover {
  background: rgba(255,255,255,0.1);
}
.b-empty-link__cont {
  font-size: 18pt;
  color: #999;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 125px;
}
.b-empty-link__cont span {
  display: inline-block;
  vertical-align: top;
  margin: -50% 0 0 -50%;
  text-align: center;
}
@-webkit-keyframes opacityAnimation {
  from {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}
@-moz-keyframes opacityAnimation {
  from {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}
@-webkit-keyframes opacityAnimation {
  from {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}
@-o-keyframes opacityAnimation {
  from {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}
