.b-similar-blocks

  h3 Похожие объекты
  
  .b-row
  
    .b-col-md-6
  
      .b-similar-block
      
        a.b-similar-block__img( href="" style="background-image: url(/upload/theme-block/2.jpg);" )
          span( style="background-image: url(/upload/theme-block/1.jpg);" )
          
        .b-similar-block__text
          h3
            a( href="" ) Квартиры «Бизнес класса» в Хамовниках
          p 1-й Красногвардейский проезд, 17-18
          p
            b Продажа
            br
            | от 17 500 000 ₽
            
          a.b-similar-block__link( href="" ) Посмотреть
    
    hr.visible-sm-block.visible-xs-block
          
    .b-col-md-6
  
      .b-similar-block
      
        a.b-similar-block__img( href="" style="background-image: url(/upload/theme-block/2.jpg);" )
          span( style="background-image: url(/upload/theme-block/1.jpg);" )
          
        .b-similar-block__text
          h3
            a( href="" ) Квартиры «Бизнес класса» в Хамовниках
          p 1-й Красногвардейский проезд, 17-18
          p
            b Продажа
            br
            | от 17 500 000 ₽
            
          a.b-similar-block__link( href="" ) Посмотреть 