@import '../../styl/component-include.styl'

.b-similar-blocks
  overflow hidden
  
.b-similar-block
  display flex
  justify-content center
  background-color #141414
  color #fff
    
  @media ( max-width 575px )
    display block
    
  a,
  a:hover
    color #fff
  
  &__img
    padding-top 50%
    width 50%
    position relative
    background-repeat no-repeat
    background-position center
    background-size cover
    
    @media ( max-width 575px )
      padding-top 100%
      display block
      width auto
    
    span
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-repeat no-repeat
      background-position center
      background-size cover
      transition( opacity 0.3s ease )
      
    .b-similar-block:hover &
      
      span
        opacity 0
    
  &__text
    width 50%
    padding 25px 35px 45px
    position relative
    box-sizing border-box
    font-size 8pt
    
    @media ( max-width 1199px )
      padding 20px 20px 45px
    
    @media ( max-width 575px )
      width auto
    
    h3
      font-size 12pt
      margin-top 0
      line-height 1.5
      
      @media ( max-width 1199px )
        line-height 1.3
    
  &__link
    position absolute
    bottom 30px
    left 35px
    text-transform uppercase
    font-size 7pt
    
    @media ( max-width 1199px )
      left 20px