
<!-- start /components/catalog.group/-->
<link rel="stylesheet" href="/components/catalog.group/style.css"/>
<script src="/components/catalog.group/script.js"></script>
<div class="b-estate">
  <h1>Двухуровневая квартира общ. пл. 1040 кв.м., свободная планировка</h1>
  <div class="b-estate__bar">
    <!-- start /components/favorite/-->
    <link rel="stylesheet" href="/components/favorite/style.css"/>
    <script src="/components/favorite/script.js"></script><a href="/components/favorite/send.json?id=456" title="Добавить в избранное" class="b-favorite-icon"></a><a href="/components/favorite/send.json?id=456" title="Убрать из избранного" class="b-favorite-icon i-on"></a>
    <!-- end /components/favorite/--><a href="#" target="_blank" class="b-address-link"><span class="b-address-link__text">Россия, Москва, Молочный переулок, дом 3</span></a>
  </div>
  <hr/>
  <!-- start /components/catalog.gallery/-->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/components/catalog.gallery/style.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script>
  <div data-width="100%" data-ratio="3/2" data-loop="true" data-allowfullscreen="true" class="fotorama">
    <div>
      <div style="background-image: url(/upload/gallery/1.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/2.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/3.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/4.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/5.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/6.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/7.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/8.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
    <div>
      <div style="background-image: url(/upload/gallery/9.jpg);" itemprop="photo" class="b-catalog-gallery__img"></div>
    </div>
  </div>
  <!-- end /components/catalog.gallery/-->
  <hr/>
  <button id="toContactForm" class="i-theme-b">Оставить заявку</button>
  <hr/>
  <div class="description">
    <p>В небольшой клубном доме напротив Зачатьевского монастыря в продажу предлагается просторная двухуровневая квартира на 2-м и 3-м этажах общей площадью 1040 кв.м.</p>
    <p>Из окон открываются чудесные виды на Храм и тихие переулки Остоженки. </p>Квартиру можно разделить как по вертикали, так и по горизонтали. 
    Минимальная площадь покупки - 260 кв.м. Есть возможность покупки как полностью 2 и 3 этажа, так и отдельно. Площади, соответственно по 520 м (этаж).
    Также, есть возможность приобрести машиноместа в подземном паркинге.
  </div>
  <hr/>
  <table class="b-data-table">
    <colgroup>
      <col class="name"/>
      <col class="value"/>
    </colgroup>
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Район</th>
        <td>Остоженка</td>
      </tr>
      <tr>
        <th>Метро</th>
        <td>Кропоткинская, Парк Культуры\</td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div class="b-estate__map">
    <h2>Схема проезда</h2>
    <div class="i-border">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=Wa3Q9dYruHRftSb8fWLAeirmyIIPq9wD&amp;amp;width=100%&amp;amp;height=450"></script>
    </div>
  </div>
  <hr/>
  <table class="b-table">
    <thead>
      <tr>
        <th></th>
        <th>Лот</th>
        <th>Этаж</th>
        <th>Площадь</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234452 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>195</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
      <tr onclick="window.location.href='/estate/'">
        <td><img src="/upload/estates/1-small.jpg" width="50" height="50"/></td>
        <td>f2064</td>
        <td>19</td>
        <td>234 м<sup>2</sup></td>
        <td>5 000 000 руб.</td>
      </tr>
    </tbody>
  </table>
  <hr/><a href="presentation.pdf" class="b-download-panel"><span class="b-pdf-file"><span class="b-pdf-file__name">Презентация объекта<br/><span class="small">PDF 32 Мб</span></span></span></a>
</div>
<!-- end /components/catalog.group/-->