@import '../../styl/component-include.styl'

.b-favorite-icon
  display inline-block
  vertical-align top
  width 32px
  height 32px
  background embedurl("img/favorite.png") no-repeat 0 0
  
  &.i-on
    background-image embedurl("img/favorite-on.png")
  
  &:hover
    background-image embedurl("img/favorite-hover.png")