// start /components/favorite/

link( rel="stylesheet", href="/components/favorite/style.css" )
script( src="/components/favorite/script.js" )

a.b-favorite-icon( href="/components/favorite/send.json?id=456" title="Добавить в избранное" )
a.b-favorite-icon.i-on( href="/components/favorite/send.json?id=456" title="Убрать из избранного" )

// end /components/favorite/