@import '../../styl/component-include.styl'

$breakpoint = 400px

.b-estate

  &__bar
    margin-bottom 23px
    
    &:after
      clear both
      content "."
      display block
      height 0
      visibility hidden
    
    .b-favorite-icon
      float right
  
  &__props
    line-height $line-height-sm
    margin-right: 0;
    margin-left: 0;
    
    @media( min-width $breakpoint )
      background embedurl( 'img/prop-border.gif' ) repeat-y 0 0
      font-size $font-size-bs
  
    .b-col-sm-4
      display flex
      justify-content flex-start
      align-items center
      padding 0 15px 0 0
      overflow hidden
      text-overflow ellipsis
      background embedurl( 'img/prop-border.gif' ) repeat-y right 0 #fff
      
      &:nth-child( 3n )
        background-image none
    
      @media( max-width 1199px )
        width 50%
        border-bottom 1px solid #ececec
      
        &:nth-child( 3n )
          background embedurl( 'img/prop-border.gif' ) repeat-y right 0 #fff
      
        &:nth-child( 2n )
          background-image none
      
      @media( max-width 767px )
        border-bottom 1px solid #ececec
        width auto
    
    h5
      margin 10px 0 10px 10px
      font-size 9pt
  
  &__plan
  
    figure
      background #fff
      padding 30px
      margin 0
      text-align center
      
      img
        width 100%
    
  &-progressbar
    background-color #3b88be
    margin-bottom 5px
    
    &__percent
      background-color #b19f83
      width 0
      height 33px
      color #fff
      font-size 9pt
      line-height 33px
      text-align right
      padding-right 16px
      box-sizing border-box
      transition( width 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) )
      

#estateMap
  height 470px
  overflow hidden
  
  @media( max-width $breakpoint-mobile )
    height 300px
  
