// start /components/catalog.element/

link( rel="stylesheet", href="/components/catalog.element/style.css" )
script( src="/components/catalog.element/script.js" )

.b-estate( itemscope itemtype="http://schema.org/Residence" )
  
  include ../../components/catalog.gallery/template
  
  hr
  
  #estateAbout.b-estate-about
  
    h1 Квартиры в I'M квартал

    .b-row.b-estate__props
    
      .b-col-sm-4
        img( src="/upload/estate-prop/1.png" width="100" height="100" alt="" )
        h5( itemprop="amenityFeature" ) Собственный сад в голландском стиле Hyco Verhaagen.
      
      .b-col-sm-4
        img( src="/upload/estate-prop/2.png" width="100" height="100" alt="" )
        h5( itemprop="amenityFeature" ) Эксклюзивный дизайн AEDAS. 
      
      .b-col-sm-4
        img( src="/upload/estate-prop/3.png" width="100" height="100" alt="" )
        h5( itemprop="amenityFeature" ) Clubhouse — уникальный сервис для проведения деловых встреч.
    
    hr
    
    .description( itemprop="review" )
    
      h2 Квартиры и апартаменты в ЖК I’M
      p Buro 77 представляет квартиры и апартаменты, а также коммерческие помещения в жилом комплексе I’M.
      p I’M — элитный жилой квартал, расположен на Шлюзовой набережной, с видом на Московский международный Дом Музыки, Swissotel Красные Холмы и набережную Москвы-реки. Квартал состоит из двух элегантных 6-7-этажных строений.
      p В жилом квартале предусмотрена просторная внутренняя территория площадью 1 гектар, где будет создан роскошный сад с зонами для активного и спокойного отдыха.
      p Впервые в Москве жителям жилого квартала будет предложен уникальный сервис — Clubhouse, который будет включать в себя библиотеку, домашний кинотеатр, залы для проведения праздников, мероприятий и деловых встреч.
      p Контроль доступа, система видеонаблюдения, круглосуточная консьерж-служба, охрана периметра комплекса, система видеодомофонов в квартирах и апартаментах.
  
  hr
  
  #estateData.b-estate-data
  
    h2 Данные жилого комплекса I’M квартал

    table.b-data-table
      colgroup
        col.name
        col.value
      tbody
        tr
          th Год постройки (срок сдачи ГК, ввода в эксплуатацию)
          td 2018
        tr
          th Инфраструктура района
          td Инфраструктура квартала полностью соответствует классу объект и включает: медицинский центр, спа-салон, частный детский сад на 45 мест, кафе и другие сервисы.
        tr
          th Адрес
          td( itemprop="address" ) Улица, дом
  
  hr
  
  #estateProgress
  
    h2 Текущий этап строительства I’M квартал
    
    .b-estate-progressbar
      .b-estate-progressbar__percent 70

    .b-row.b-estate__props
    
      .b-col-sm-4
        img( src="/upload/estate-prop/1.png" width="100" height="100" alt="" )
        h5 Онлайн камера строительства ЖК i’M квартал.
      
      .b-col-sm-4
        img( src="/upload/estate-prop/2.png" width="100" height="100" alt="" )
        h5 Проектная декларация I'M.
      
  hr
  
  #estatePlan.b-estate__plan
  
    h2 Планировки i’M квартал
    
    figure
    
      include ../../components/catalog.gallery/plan
  
// end /components/catalog.element/