.b-theme-blocks

  h3 Тематические подборки
  
  .b-row
  
    .b-col-md-6
  
      .b-theme-block
      
        a.b-theme-block__img( href="" style="background-image: url(/upload/theme-block/2.jpg);" )
          span( style="background-image: url(/upload/theme-block/1.jpg);" )
          
        .b-theme-block__text
          h3
            a( href="" ) Квартиры «Бизнес класса» в Хамовниках
            
          a.b-theme-block__link( href="" ) Посмотреть
    
    hr.visible-sm-block.visible-xs-block
          
    .b-col-md-6
  
      .b-theme-block
      
        a.b-theme-block__img( href="" style="background-image: url(/upload/theme-block/2.jpg);" )
          span( style="background-image: url(/upload/theme-block/1.jpg);" )
          
        .b-theme-block__text
          h3
            a( href="" ) Квартиры «Бизнес класса» в Хамовниках
            
          a.b-theme-block__link( href="" ) Посмотреть
          
  hr
    
  .b-row
  
    .b-col-md-6
  
      .b-theme-block
      
        a.b-theme-block__img( href="" style="background-image: url(/upload/theme-block/2.jpg);" )
          span( style="background-image: url(/upload/theme-block/1.jpg);" )
          
        .b-theme-block__text
          h3
            a( href="" ) Квартиры «Бизнес класса» в Хамовниках
            
          a.b-theme-block__link( href="" ) Посмотреть
    
    hr.visible-sm-block.visible-xs-block
          
    .b-col-md-6
  
      .b-theme-block
      
        a.b-theme-block__img( href="" style="background-image: url(/upload/theme-block/2.jpg);" )
          span( style="background-image: url(/upload/theme-block/1.jpg);" )
          
        .b-theme-block__text
          h3
            a( href="" ) Квартиры «Бизнес класса» в Хамовниках
            
          a.b-theme-block__link( href="" ) Посмотреть
    
    

