#elSmallMap {
  position: fixed !important;
  top: 82px;
  right: 0;
  width: calc(100vw - 127px - 1024px);
  height: calc(100vh - 82px);
  overflow: hidden;
  z-index: 10;
}
@media (max-width: 1300px) {
  #elSmallMap {
    display: none;
  }
}
.b-catalog-list-small.i-map #elSmallMap {
  position: relative !important;
  top: auto;
  right: auto;
  width: auto;
  height: 580px;
}
@media (max-width: 1300px) {
  .b-catalog-list-small.i-map #elSmallMap {
    display: block;
  }
}
#infoWindow {
  position: absolute;
  z-index: 1000;
}
@media (max-width: 1300px) {
  #infoWindow {
    display: none;
  }
}
.b-infowindow img {
  float: left;
  width: 90px;
}
.b-infowindow__text {
  height: 90px;
  float: left;
  width: 157px;
  background: #000;
  color: #fff;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 8pt;
}
.b-el-small {
  position: absolute;
  top: 82px;
  left: 0;
  width: calc(100vw - 127px - 1024px);
  height: 100%;
  overflow: auto;
  background-color: #333;
  display: none;
}
.b-el-small__map-heading {
  position: relative;
}
.b-el-small__map-heading h3 {
  position: absolute;
  top: 30px;
  left: 53px;
  margin: 0;
  z-index: 100;
}
.b-el-small__menu {
  height: 82px;
  background-color: #000;
  padding: 24px 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 127px - 1024px);
  z-index: 110;
}
@media (max-width: 1300px) {
  .b-el-small__menu {
    display: none;
  }
}
.b-el-small__menu a {
  font-size: 8pt;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-right: 50px;
}
.b-el-small__menu a.i-active {
  color: #474747;
  font-weight: 700;
}
@media (max-width: 1410px) {
  .b-el-small__menu a:first-child {
    margin-right: 0;
  }
  .b-el-small__menu a:nth-child(2) {
    display: none;
  }
}
.b-el-small__wrapper {
  background: url("data:image/gif;base64,R0lGODlh3AC4AYAAABcXFyUlJSH5BAAAAAAALAAAAADcALgBAAL/hI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aN/xw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOYwF6+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzZw7e/4MOrTo0aRLmz6NOrXq1axbu34NO7bs2bRr276NO7fu3bx7+/4NPLjw4cSLGz+OPLny5cybO38OPbr06dSrW7+OPbv27dy7e/8OPrz48eTLmz+PPr369ezbu38PP778+fTr27+PP7/+/fz7+5P/D2CAAg5IYIEGHohgggouyGCDDj4IYYQSTkhhhRZeiGGGGm7IYYcefghiiCKOSGKJJp6IYooqrshiiy6+CGOMMs5IY4023ohjjjruyGOPPv4IZJBCDklkkUYeiWSSSi7JZJNOPglllFJOSWWVVl6JZZZabslll15+CWaYYo5JZplmnolmmmquyWabbr4JZ5z+FQAAOw==") repeat-y 0 0;
}
@media (max-width: 1300px) {
  .b-el-small__wrapper {
    display: none;
  }
}
.b-el-small__i {
  position: relative;
  background: url("/template/images/preloader-small-25.gif") no-repeat 32px 32px #252525;
  line-height: 1.3;
  display: block;
  overflow: hidden;
  width: 100%;
  float: left;
/*&:first-child
      cursor default
      
      .b-el-small__i__img-bw,
      .b-el-small__i__props
        display none
      
      .b-el-small__i__img
        opacity(1)
        position static
        vertical-align top
      
      .b-el-small__i__shutter
        background embedurl("img/first-arrow.png") no-repeat center center
    */
}
.b-el-small__i:hover,
.b-el-small__i:active,
.b-el-small__i:focus {
  color: #fff;
}
.b-el-small__i:nth-child(even ) {
  background-color: #171717;
  background-image: url("/template/images/preloader-small-17.gif");
}
@media (min-width: 1431px) {
  .b-el-small__i {
    width: 50%;
  }
}
@media (min-width: 1601px) {
  .b-el-small__i {
    width: 33.33%;
  }
}
@media (min-width: 1801px) {
  .b-el-small__i {
    width: 25%;
  }
}
.b-el-small__i__small-img {
  display: none;
}
@media (max-width: 800px) {
  .b-el-small__i {
    float: left;
    width: 20%;
  }
}
.b-el-small__i__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  z-index: 10;
}
.b-el-small__i__img-bw {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
}
.b-el-small__i__shutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAABCAYAAAA8YlcZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNqcj0EOACEIA1H8//t8DLLqwYQ0whIPk6bTA6EQUV8Mg0JHJOHk4iW5y8O98fODBqnQP/DW7SyLatJyHIPnINnpSEu4dvGR8/bsPfZ+mAIMAFJ4S9cphx5AAAAAAElFTkSuQmCC") repeat-y 0 0;
  background-size: 100%;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  z-index: 9;
}
.b-el-small__i.i-loaded .b-el-small__i__img-bw,
.b-el-small__i.i-loaded .b-el-small__i__shutter {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.b-el-small__i:hover .b-el-small__i__img {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.b-el-small__i__props {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 14%;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  text-align: right;
  font-size: 10.5pt;
  font-weight: bold;
  text-align: center;
  z-index: 12;
}
.b-el-small__i__props span {
  display: block;
  font-size: 12pt;
  margin-bottom: 45px;
}
@media (max-width: 800px) {
  .b-el-small__i__props {
    display: none;
  }
}
