
<!-- start /components/catalog.list.small/-->
<link rel="stylesheet" href="/components/catalog.list.small/style.css"/>
<script src="/components/catalog.list.small/script.js"></script>
<div class="b-el-small__menu"><a href="#map" data-href="map">На карте</a><a href="#list" data-href="list">Списком</a></div>
<div data-tab="el-map">
  <script>
    window.listSmallMapLat = 55;
    window.listSmallMapLng = 37;
    window.listSmallMapZoom = 12;
  </script>
  <div id="elSmallMap" data-ajax-url="/components/catalog.list.small/markers.json" data-ajax-method="GET"></div>
  <div id="infoWindow"></div>
</div>
<div data-tab="el-list" data-ajax-url="/components/catalog.list.small/list.html" data-ajax-method="GET" class="b-el-small"></div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js" async="async" defer="defer"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIBtmSOttEUoOM-fuV3gEtf_kGoZhm-YE&amp;callback=initMap" async="async" defer="defer"></script>
<!-- end /components/catalog.list.small/-->