.b-el-small__wrapper
  //span.b-el-small__i
    img.b-el-small__i__img-bw( src="/upload/estates/2-bw.jpg" alt="" )
    img.b-el-small__i__img( src="/upload/estates/2.jpg" alt="" )
    span.b-el-small__i__shutter
    span.b-el-small__i__props
      span F1008
      |213 м<sup>2</sup>
      br
      |7 800 000 руб.

  - var n = 5
  while n > 0
    - n--
    a.b-el-small__i( href="/estate/" )
      img.b-el-small__i__img-bw( src="/upload/estates/3-bw.jpg" alt="" )
      img.b-el-small__i__img( src="/upload/estates/3.jpg" alt="" )
      span.b-el-small__i__shutter
      span.b-el-small__i__props
        span F1008
        |213 м<sup>2</sup>
        br
        |7 800 000 руб.