// start /components/catalog.list.small/

link( rel="stylesheet", href="/components/catalog.list.small/style.css" )
script( src="/components/catalog.list.small/script.js" )

.b-el-small
  
  .b-el-small__wrapper
    span.b-el-small__i
      img.b-el-small__i__img-bw( src="/upload/estates/2-bw.jpg" )
      img.b-el-small__i__img( src="/upload/estates/2.jpg" )
      span.b-el-small__i__shutter
      span.b-el-small__i__props
        |Лот: 1973
        br
        span Площадь: 
        |72—213 м?
        br
        span Район: 
        |Тверская

    - var n = 15
    while n > 0
      - n--
      a.b-el-small__i( href="/estate/" )
        img.b-el-small__i__img-bw( src="/upload/estates/3-bw.jpg" )
        img.b-el-small__i__img( src="/upload/estates/3.jpg" )
        span.b-el-small__i__shutter
        span.b-el-small__i__props
          |Лот: 1973
          br
          span Площадь: 
          |72—213 м?
          br
          span Район: 
          |Тверская

// end /components/catalog.list.small/