.b-price-block

  .b-row
    
    .b-col-sm-6
      a.b-price-block__img( href="" data-original="/upload/price-block.jpg" )
    
    .b-col-sm-6
      .b-price-block__text
        | Аренда<br>
        | Апартаменты<br>
        | Лот: SA681<br>
        | Этаж: 2<br>
        | Площадь: 103,1 м<sup>2</sup><br>
        | Комнат: 3<br>
        | Спален: 2
        
  .b-price-block__bottom
  
    .b-row
    
      .b-col-xs-6.b-price-block__price 124 899 000 Р
      
      .b-col-xs-6.b-price-block__more
        a( href="" ) Подробнее
