@import '../../styl/component-include.styl'

$breakpoint = 400px
  
.b-group__props
  line-height $line-height-sm
  margin-right: 0;
  margin-left: 0;
  
  @media( min-width $breakpoint )
    background embedurl( 'img/prop-border.gif' ) repeat-y 0 0
    font-size $font-size-bs

  .b-col-sm-4
    display flex
    justify-content flex-start
    align-items center
    padding 0 15px 0 0
    overflow hidden
    text-overflow ellipsis
    background embedurl( 'img/prop-border.gif' ) repeat-y right 0 #fff
    border-bottom 1px solid #ececec
    height 100px
    
    &:nth-child( 3n )
      background-image none
  
    @media( max-width 1199px )
      width 50%
      border-bottom 1px solid #ececec
    
      &:nth-child( 3n )
        background embedurl( 'img/prop-border.gif' ) repeat-y right 0 #fff
    
      &:nth-child( 2n )
        background-image none
    
    @media( max-width 767px )
      border-bottom 1px solid #ececec
      width auto
  
  h5
    margin 10px 0 10px 10px
    font-size 9pt

.b-estate
  margin-top -20px
  
  @media ( max-width $breakpoint-mobile)
    h1
      text-align center

  &__bar
    margin-bottom 23px
    
    &:after
      clear both
      content "."
      display block
      height 0
      visibility hidden
    
    .b-favorite-icon
      float right
      
  &__props
    line-height 1.4
    overflow hidden
  
    &-item
      float left
      overflow hidden
      margin 3px 7% 17px 0
      opacity 0
      transition( opacity 0.5s ease )
      
      .i-animate &
        opacity 1
        
        &:nth-child(1)
          transition-delay .1s
        
        &:nth-child(2)
          transition-delay .2s
        
        &:nth-child(3)
          transition-delay .3s
        
        &:nth-child(4)
          transition-delay .4s
        
        &:nth-child(5)
          transition-delay .5s
        
        &:nth-child(6)
          transition-delay .6s
        
        &:nth-child(7)
          transition-delay .7s
        
        &:nth-child(8)
          transition-delay .8s
        
        &:nth-child(9)
          transition-delay .9s
        
        &:nth-child(10)
          transition-delay 1s
      
    &__icon
      width 16px
      height 16px
      background-repeat no-repeat
      background-position center
      background-size cover
      float left
      margin-top 1px
      margin-right 12px
      
    &__text
      float left
      font-size 10.5pt
      
      h6
        margin 0
        font-size 7pt
  
  &__plan
  
    figure
      background #fff
      padding 30px
      margin 0
      text-align center
      
      img
        width 100%
    
  &-progressbar
    background-color #3b88be
    margin-bottom 5px
    
    &__percent
      background-color #b19f83
      width 0
      height 33px
      color #fff
      font-size 9pt
      line-height 33px
      text-align right
      padding-right 16px
      box-sizing border-box
      transition( width 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) )
      

#estateMap
  height 470px
  overflow hidden
  
  @media( max-width $breakpoint-mobile )
    height 300px
  
