@import '../../styl/component-include.styl'

$breakpoint = 400px

.b-estate

  &__bar
    margin-bottom 23px
    
    &:after
      clear both
      content "."
      display block
      height 0
      visibility hidden
    
    
    .b-favorite-icon
      float right
    
  
  
  &__props
    line-height $line-height-sm
    margin-right: 0;
    margin-left: 0;
    
    @media( min-width $breakpoint )
      border-top 1px solid $border-color
      border-bottom 1px solid $border-color
      background embedurl( 'img/prop-border.gif' ) repeat-y 0 0
      font-size $font-size-bs
    
  
    .b-col-xs-2
      width: 20%;
      text-align center
      background embedurl( 'img/prop-border.gif' ) repeat-y right 0
      padding 20px 10px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      
      @media( max-width $breakpoint )
        background none
        float none
        width 100%
        text-align left
        padding 10px 0
        white-space normal
      
    
    
    h5
      margin 0 0 5px
      
      @media( min-width $breakpoint )
        margin 0 0 20px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      
    
    
  
  
  &__plan
  
    figure
      background #f7f7f7
      padding 30px
      margin 0
      text-align center
      
      img
        max-width 100%
    
  


#estateMap
  height 470px
  overflow hidden
  
  @media( max-width $breakpoint-mobile )
    height 300px
  
