extends ../layouts/main.jade

block title
  title Estates | Buro77

block content
  include ../components/catalog.list/estates
  include ../modules/promo-text/include
  hr
  include ../components/contact.form/template