.b-side
  
  .b-side-icons
    a#sideBarButton.b-side-bar__button( href="#sidePanel" )
  
    span#sideBarTop.b-side-bar__top наверх
    
    a.b-favorites-link( href="/favorites/" )
      span.b-favorites-link__num 15
  
  #sideBar.b-side-bar
    
    .b-side-bar__content
    
      menu
        li
          a( href="/estates/" ) Объекты недвижимости
          
          menu
            li
              a( href="/estates/" ) Загородная 
                span 23
            li
              a( href="/estates/" ) Городская 
                span 4
            li
              a( href="/estates/" ) Коммерческая 
                span 2
              
        li
          a( href="/about/" ) О компании
        li
          a( href="/estates/" ) Сотрудничество
        li
          a( href="/contacts/" ) Контакты