#bx-panel( style="width: 100%; background: #ccc; color: #000; height: 100px; top: 0; z-index: 110;" )
  #bx-panel-hider( onclick="this.parentNode.style.height='50px'" ) Скрыть
  div( onclick="this.parentNode.style.position='fixed'; this.parentNode.className='bx-panel-fixed'" ) Fixed
  
  a( href="link" ) Link