header.b-header

  .b-header__fixed

    a.b-estate-logo( href="" )
      img( src="/upload/estate-logo/2.png" width="150" height="50" alt="" )
      
    .b-top-menu
      
      a( href="#estateAbout" ) I'M квартал
      a( href="#estateData" ) данные проекта
      a( href="#estateProgress" ) этап строительства
      a( href="#estatePlan" ) планировка
      a( href="#estatePrice" ) цены
      a( href="#estateHypothec" ) ипотека

    .b-phone +7 499 999 34 45