header.b-header
    
  .b-top-menu
    
    a( href="" ) Neva Towers
    a( href="" ) I'm
    a( href="" ) A-Residence
    a( href="" ) Дома
    a( href="" ) О компании
    a( href="" ) Наш адрес

  .b-phone +7 495 118 22 11