header.b-header
  .b-phone 8 499 999 34 45
  .b-logo
    a.b-logo__title( href="/" )
      img( src="/upload/buro77-logo.png" width="111" height="47" )
    | 
    span.b-logo__slogan Элитная недвижимость