header.b-header
    
  .b-top-menu
    
    a( href="" ) ГОРОДСКАЯ НЕДВИЖИМОСТЬ
    a( href="" ) ЗАГОРОДНАЯ НЕДВИЖИМОСТЬ
    a( href="" ) ЗАРУБЕЖНАЯ НЕДВИЖИМОСТЬ
    a( href="" ) КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ

  .b-phone +7 499 999 34 45