extends ../layouts/estate.jade

block title
  title Estate | Buro77

block content

  .b-content
    include ../components/catalog.group/template
        
    hr
    
  include ../components/contact.form/template