.b-call-block( style="background-image: url(/upload/call-block-ill.png);" )
  .b-call-block__text Вы можете заказать индивидуальную встречу и презентацию Barkly Gallery.
  img( src="/upload/call-block-ill.png" )
  a.b-button.i-theme-d( href="" ) Отправить заявку

