#estateFilter.b-estate-filter
  
  .b-estate-filter__menu1
    menu
      li
        a( href="" data-id="1" ) Городская
          span 36
      li
        a( href="" data-id="2" ) Загородная
          span 21
      li
        a( href="" data-id="3" ) Зарубежная
          span 2
      li
        a( href="" data-id="4" ) Офисная
          span 1
      li
        a.i-spec( href="" data-id="5" ) Спец
        
  .b-estate-filter__menu2
    menu
      li
        a( href="" ) Покупка
      li
        a( href="" ) Аренда
        
  .b-estate-filter__menu3
    menu
      li
        a( href="" ) Новостройки
      li
        a( href="" ) Квартиры
      li
        a( href="" ) Апартаменты
      li
        a( href="" ) Дома
      li
        a( href="" ) Второй
      li
        a( href="" ) Ряд
        
  .b-estate-filter__number
    .b-estate-filter__num 4
    .b-estate-filter__text варианта
    .b-estate-filter__button
      button.i-theme-a Подобрать