// start /components/catalog.list/

link( rel="stylesheet", href="/components/catalog.list/style.css" )
script( src="/components/catalog.list/script.js" )

include ./filter

.b-estate-list

    a.b-estate-list__i( href="/estate/" data-img-bw-src="/upload/estates/1-small.jpg" data-img-src="/upload/estates/2.jpg" )
        img.b-estate-list__i__img-bw( src="/template/images/tr.gif" )
        img.b-estate-list__i__img( src="/template/images/tr.gif" )
        span.b-estate-list__i__props
            | Aeroflots
            br
            span Ул. Викторенко, 16, Москва,  Росссия
            span.b-estate-list__i__label
                span.b-estate-list__i__count 80
                br
                | Объектов
                span.b-estate-list__i__folder-icon
        span.b-estate-list__i__info
            span.b-estate-list__i__info-title Aeroflots
            br
            span Ул. Викторенко, 16, Москва,  Росссия
            b Площадь
            span 300 м
                sup 2
            b Комнат
            span 4
            b Продажа
            span от 3 000 000 руб
            b Аренда
            span от 200 000 руб
            span.b-estate-list__i__info-icons
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--fit
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--shop
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--beauty
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--edu
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--restor
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--med

    a.b-estate-list__i( href="/estate/" data-img-bw-src="/upload/estates/1-small.jpg" data-img-src="/upload/estates/2.jpg" )
        img.b-estate-list__i__img-bw( src="/template/images/tr.gif" )
        img.b-estate-list__i__img( src="/template/images/tr.gif" )
        span.b-estate-list__i__props
            | Квартира, F113
            br
            span 1-й переулок Тружеников, 17  Москва,  Росссия
            span 8 000 000 руб.
        span.b-estate-list__i__info
            span.b-estate-list__i__info-title Квартира, F113
            span 1-й переулок Тружеников, 17  Москва,  Росссия
            b Площадь
            span 189,9 м
                sup 2
            b Комнат
            span 4
            b Продажа
            span 59 000 000 руб
            span.b-estate-list__i__info-icons
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--fit
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--shop
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--beauty
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--edu
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--restor


    a.b-estate-list__i( href="/estate/" data-img-bw-src="/upload/estates/1-small.jpg" data-img-src="/upload/estates/2.jpg" )
        img.b-estate-list__i__img-bw( src="/template/images/tr.gif" )
        img.b-estate-list__i__img( src="/template/images/tr.gif" )
        span.b-estate-list__i__hot
            span.b-estate-list__i__hot-icon
            | Горячее
        span.b-estate-list__i__props
            | Квартира, F113
            br
            span 1-й переулок Тружеников, 17  Москва,  Росссия
            span 8 000 000 руб.
        span.b-estate-list__i__info
            span.b-estate-list__i__info-title Квартира, F113
            span 1-й переулок Тружеников, 17  Москва,  Росссия
            b Площадь
            span 189,9 м
                sup 2
            b Комнат
            span 4
            b Продажа
            span 59 000 000 руб
            span.b-estate-list__i__info-icons
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--fit
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--shop
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--beauty
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--edu
                div.b-estate-list__i__info-icon.b-estate-list__i__info-icon--restor

    //- var n = 5
    //  while n > 0
    //    - n--
    //    a.b-estate-list__i( href="/estate/" data-img-bw-src="/upload/estates/1-small.jpg" data-img-src="/upload/estates/2.jpg" )
    //        img.b-estate-list__i__img-bw( src="/template/images/tr.gif" )
    //        img.b-estate-list__i__img( src="/template/images/tr.gif" )
    //        span.b-estate-list__i__shutter
    //        span.b-estate-list__i__props
    //            | Aeroflots
    //            br
    //            span Ул. Викторенко, 16, Москва,  Росссия
    //            //span Район:
    //            //| Тверская
    //            span.b-estate-list__i__label
    //                span.b-estate-list__i__count 80
    //                br
    //                | Объектов
    //                span.b-estate-list__i__folder-icon
    //        span.b-estate-list__i__info
    //            span.b-estate-list__i__info-title Aeroflots
    //            br
    //            span Ул. Викторенко, 16, Москва,  Росссия
    //            br
    //            b Площадь
    //            br
    //            span 300 м
    //                sup 2
    //            br
    //            b Комнат
    //            span 4
    //            br
    //            b Продажа
    //            span от 3 000 000 руб
    //            br
    //            b Аренда
    //            span от 200 000 руб
    //            span.b-estate-list__i__info-icons
    //                span.b-estate-list__i__info-icon.b-estate-list__i__info-icon--fit
    //                span.b-estate-list__i__info-icon.b-estate-list__i__info-icon--shop
    //                span.b-estate-list__i__info-icon.b-estate-list__i__info-icon--beauty
    //                span.b-estate-list__i__info-icon.b-estate-list__i__info-icon--edu
    //                span.b-estate-list__i__info-icon.b-estate-list__i__info-icon--restor
    //                span.b-estate-list__i__info-icon.b-estate-list__i__info-icon--med

  //.b-estate-list__empty
  //  .b-estate-list__empty__cont
  //    - var n = 4
  //    while n > 0
  //      - n--
  //      .b-estate-list__empty__i

// end /components/catalog.list/