
<!-- start /components/search-title/-->
<link rel="stylesheet" href="/components/search-title/style.css"/>
<script src="/components/search-title/script.js"></script>
<div style="position: absolute; top: 292px; left: 250px; width: 1060px;" class="title-search-result">
  <table class="title-search-result">
    <tbody>
      <tr>
        <th style="width: 122px;" class="title-search-separator"> </th>
        <td class="title-search-separator"> </td>
      </tr>
      <tr id="row_1">
        <th> Справочник</th>
        <td class="title-search-item"><a href="/help/fefco/22478/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>06 - Rigid-type boxes - <b>короб</b>ки жесткого типа</a></td>
      </tr>
      <tr id="row_2">
        <th> </th>
        <td class="title-search-item"><a href="/help/fefco/22470/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>04 - Folder-type boxes - <b>короб</b>ки оберточного типа и складные (штампованные) ящики, <b>короб</b>ки с крышкой и дном</a></td>
      </tr>
      <tr id="row_3">
        <th> </th>
        <td class="title-search-item"><a href="/help/fefco/22465/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>03 - Telescope-type boxes - <b>короб</b>ки телескопического типа или конструкции</a></td>
      </tr>
      <tr id="row_4">
        <th> </th>
        <td class="title-search-item"><a href="/help/fefco/22474/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>05 - Slide-type boxes - раздвижные <b>короб</b>ки пенального типа и сборные ящики</a></td>
      </tr>
      <tr id="row_5">
        <th> </th>
        <td class="title-search-item"><a href="/help/fefco/22487/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>07 - Ready-glued - готовые клеенные <b>короб</b>ки</a></td>
      </tr>
      <tr id="row_6">
        <th> </th>
        <td class="title-search-more"><a href="/search/?q=%D0%BA%D0%BE%D1%80%D0%BE%D0%B1&amp;f%5B0%5D%5B0%5D%5B%3DMODULE_ID%5D=iblock&amp;f%5B0%5D%5B0%5D%5BPARAM1%5D=projects&amp;f%5B0%5D%5B0%5D%5BPARAM2%5D%5B0%5D=53&amp;f%5B0%5D%5B0%5D%5BPARAM2%5D%5B1%5D=57&amp;f%5B0%5D%5B0%5D%5BPARAM2%5D%5B2%5D=87&amp;f%5B0%5D%5BLOGIC%5D=OR&amp;f%5BCHECK_DATES%5D=Y">остальные</a></td>
      </tr>
      <tr>
        <th class="title-search-separator"> </th>
        <td class="title-search-separator"> </td>
      </tr>
      <tr id="row_8">
        <th> Прочее</th>
        <td class="title-search-item"><a href="/production/portfolio/print/korobka-s-pechatyu-kvest-v-korobke/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/><b>Короб</b>ка с печатью "Квест в <b>короб</b>ке"</a></td>
      </tr>
      <tr id="row_9">
        <th> </th>
        <td class="title-search-item"><a href="/help/video/5289/23818/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>Самосборный <b>короб</b> "самолет", как собрать <b>короб</b>ку из заготовки</a></td>
      </tr>
      <tr id="row_10">
        <th> </th>
        <td class="title-search-item"><a href="/wiki/494799/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/>Самосборный <b>короб</b> "самолет", как собрать <b>короб</b>ку из заготовки</a></td>
      </tr>
      <tr id="row_11">
        <th> </th>
        <td class="title-search-item"><a href="/catalog/korob-evropallet/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/><b>Короб</b> европаллет 1200 (Д) х 800 (Ш) х 850 (В) гофрокартон пятислойный бурый</a></td>
      </tr>
      <tr id="row_12">
        <th> </th>
        <td class="title-search-item"><a href="/production/construction/fefco/korobki-zhestkogo-tipa/korob-zhestkogo-tipa-s-otkidnoy-kryshkoy/"><img src="/bitrix/templates/a10_0_7/components/bitrix/search.title/head/images/default.png"/><b>Короб</b> жесткого типа с откидной крышкой</a></td>
      </tr>
      <tr>
        <th class="title-search-separator"> </th>
        <td class="title-search-separator"> </td>
      </tr>
      <tr id="row_14">
        <th> </th>
        <td class="title-search-all"><a href="/search/?q=%D0%BA%D0%BE%D1%80%D0%BE%D0%B1">Все результаты</a></td>
      </tr>
      <tr>
        <th class="title-search-separator"> </th>
        <td class="title-search-separator"> </td>
      </tr>
    </tbody>
  </table>
  <div style="left: 1042px; width: 18px; top: 0px; height: 370px; display: block;" class="title-search-fader"></div>
</div>
<!-- end /components/search-title/-->