extends ../layouts/main.jade

block title
  title Loading page | Buro77

block content

  .b-page-content
    h1 Новостройки в центре Москвы

  include ../components/catalog.list/estates
  
  .b-page-content
    h2 Новостройки в центре Москвы
    p Buro77 представляет апартаменты в жилом комплексе Neva Towers.
    p Два современных жилых небоскреба с апартаментами и <a href="">офисами</a> объединены между собой общей стилобатной частью, на крыше которой будет разбит приватный парк и частная зона отдыха. Высотность зданий обеспечивает жителям комплекса захватывающий вид.