extends ../layouts/estate.jade

block title
  title Inner page | Buro77

block content

  .b-content

    h1 Buro 77
    .b-h1-sub Private Realty Service
    
    include ../modules/call-block/include
    
    .b-row
      
      .b-col-sm-6
        h3 Агентские услуги
        p Основные направления деятельности компании – продажа и аренда городской и загородной элитной недвижимости, а также услуги консалтинга. 
        p За время работы на рынке компания создала собственную обширную
          a( href="" ) базу объектов
          | 
          | недвижимости – это лучшие предложения квартир, домов и земельных участков, отвечающие требованиям самых взыскательных клиентов. 
      
      .b-col-sm-6
        h3
          a( href="" ) Агентские услуги
        p Основные направления деятельности компании – продажа и аренда городской и загородной элитной недвижимости, а также услуги консалтинга. 
        p За время работы на рынке компания создала собственную обширную базу объектов недвижимости – это лучшие предложения квартир, домов и земельных участков, отвечающие требованиям самых взыскательных клиентов. 
        
    hr.i-line.i-size-L
    
    .b-page-content
    
      h3 Агентские услуги
      
      p Основные направления деятельности компании – продажа и аренда городской и загородной элитной недвижимости, а также услуги консалтинга. 
      
      p За время работы на рынке компания создала собственную обширную базу объектов недвижимости – это лучшие предложения квартир, домов и земельных участков, отвечающие требованиям самых взыскательных клиентов. 
        
    hr.i-line.i-size-L
    
    .b-ill-text-block
    
      .b-row
      
        .b-col-sm-6
          img( src="/upload/ill.jpg" alt="" )
          
        .b-col-sm-6.b-ill-text-block__text
          hr.i-line
          h3 Агентство недвижимости полного цикла.<br>Buro 77
          a( href="" ) Подробнее
          hr.i-line
          
    hr.i-size-L.hidden-xs
    
    .b-ill-text-block
    
      .b-row
          
        .b-col-sm-6.b-ill-text-block__text
          hr.i-line
          h3 Агентство недвижимости полного цикла.<br>Buro 77
          a( href="" ) Подробнее
          hr.i-line
      
        .b-col-sm-6
          img( src="/upload/ill.jpg" alt="" )
        
    hr.i-line.i-size-L
    
    h6.text-center Наши партнеры
    nav.b-content-clients
      img( src="/upload/footer/1.png" height="60" alt="" )
      img( src="/upload/footer/2.png" height="60" alt="" )
      img( src="/upload/footer/3.png" height="60" alt="" )
      img( src="/upload/footer/4.png" height="60" alt="" )
      img( src="/upload/footer/5.png" height="60" alt="" )
      img( src="/upload/footer/6.png" height="60" alt="" )
      img( src="/upload/footer/7.png" height="60" alt="" )
      img( src="/upload/footer/8.png" height="60" alt="" )
                    
    hr.i-line
    
  hr