
<!-- start /components/catalog.element/-->
<link rel="stylesheet" href="/components/catalog.element/style.css"/>
<script src="/components/catalog.element/script.js"></script>
<div itemscope="itemscope" itemtype="http://schema.org/Residence" class="b-estate">
  <!-- start /components/catalog.gallery/-->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/components/catalog.gallery/style.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script>
  <div data-width="100%" data-ratio="3/2" data-loop="true" data-allowfullscreen="true" class="fotorama"><img src="/upload/gallery/1.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/2.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/3.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/4.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/5.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/6.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/7.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/8.jpg" alt="" itemprop="photo"/><img src="/upload/gallery/9.jpg" alt="" itemprop="photo"/>
  </div>
  <!-- end /components/catalog.gallery/-->
  <hr/>
  <div id="estateAbout" class="b-estate-about">
    <h1>Квартиры в I'M квартал</h1>
    <div class="b-row b-estate__props">
      <div class="b-col-sm-4"><img src="/upload/estate-prop/1.png" width="100" height="100" alt=""/>
        <h5 itemprop="amenityFeature">Собственный сад в голландском стиле Hyco Verhaagen.</h5>
      </div>
      <div class="b-col-sm-4"><img src="/upload/estate-prop/2.png" width="100" height="100" alt=""/>
        <h5 itemprop="amenityFeature">Эксклюзивный дизайн AEDAS. </h5>
      </div>
      <div class="b-col-sm-4"><img src="/upload/estate-prop/3.png" width="100" height="100" alt=""/>
        <h5 itemprop="amenityFeature">Clubhouse — уникальный сервис для проведения деловых встреч.</h5>
      </div>
    </div>
    <hr/>
    <div itemprop="review" class="description">
      <h2>Квартиры и апартаменты в ЖК I’M</h2>
      <p>Buro 77 представляет квартиры и апартаменты, а также коммерческие помещения в жилом комплексе I’M.</p>
      <p>I’M — элитный жилой квартал, расположен на Шлюзовой набережной, с видом на Московский международный Дом Музыки, Swissotel Красные Холмы и набережную Москвы-реки. Квартал состоит из двух элегантных 6-7-этажных строений.</p>
      <p>В жилом квартале предусмотрена просторная внутренняя территория площадью 1 гектар, где будет создан роскошный сад с зонами для активного и спокойного отдыха.</p>
      <p>Впервые в Москве жителям жилого квартала будет предложен уникальный сервис — Clubhouse, который будет включать в себя библиотеку, домашний кинотеатр, залы для проведения праздников, мероприятий и деловых встреч.</p>
      <p>Контроль доступа, система видеонаблюдения, круглосуточная консьерж-служба, охрана периметра комплекса, система видеодомофонов в квартирах и апартаментах.</p>
    </div>
  </div>
  <hr/>
  <div id="estateData" class="b-estate-data">
    <h2>Данные жилого комплекса I’M квартал</h2>
    <table class="b-data-table">
      <colgroup>
        <col class="name"/>
        <col class="value"/>
      </colgroup>
      <tbody>
        <tr>
          <th>Год постройки (срок сдачи ГК, ввода в эксплуатацию)</th>
          <td>2018</td>
        </tr>
        <tr>
          <th>Инфраструктура района</th>
          <td>Инфраструктура квартала полностью соответствует классу объект и включает: медицинский центр, спа-салон, частный детский сад на 45 мест, кафе и другие сервисы.</td>
        </tr>
        <tr>
          <th>Адрес</th>
          <td itemprop="address">Улица, дом</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr/>
  <div id="estateProgress">
    <h2>Текущий этап строительства I’M квартал</h2>
    <div class="b-estate-progressbar">
      <div class="b-estate-progressbar__percent">70</div>
    </div>
    <div class="b-row b-estate__props">
      <div class="b-col-sm-4"><img src="/upload/estate-prop/1.png" width="100" height="100" alt=""/>
        <h5>Онлайн камера строительства ЖК i’M квартал.</h5>
      </div>
      <div class="b-col-sm-4"><img src="/upload/estate-prop/2.png" width="100" height="100" alt=""/>
        <h5>Проектная декларация I'M.</h5>
      </div>
    </div>
  </div>
  <hr/>
  <div id="estatePlan" class="b-estate__plan">
    <h2>Планировки i’M квартал</h2>
    <figure>
      <div class="b-row">
        <div class="b-col-sm-4"><img src="/upload/estate-plan.jpg" alt="" itemprop="photo"/></div>
        <hr class="visible-xs-block i-size-S"/>
        <div class="b-col-sm-4"><img src="/upload/estate-plan.jpg" alt="" itemprop="photo"/></div>
        <hr class="visible-xs-block i-size-S"/>
        <div class="b-col-sm-4"><img src="/upload/estate-plan.jpg" alt="" itemprop="photo"/></div>
      </div>
      <hr class="i-size-S"/>
      <div class="b-row">
        <div class="b-col-sm-4"><img src="/upload/estate-plan.jpg" alt="" itemprop="photo"/></div>
        <hr class="visible-xs-block i-size-S"/>
        <div class="b-col-sm-4"><img src="/upload/estate-plan.jpg" alt="" itemprop="photo"/></div>
        <hr class="visible-xs-block i-size-S"/>
        <div class="b-col-sm-4"><img src="/upload/estate-plan.jpg" alt="" itemprop="photo"/></div>
      </div>
    </figure>
  </div>
</div>
<!-- end /components/catalog.element/-->